<p style="display: flex;
    justify-content: center;
    font-size: 14px;">*THE SITE GETS UPDATED AT 10pm DAILY</p>
</body>
<footer>
  <div class = "footercase">

    <p class="disclaimer">*The Data Shown On This Site Is UNOFFICIAL And May Not Match With Goverment Data Sometimes.
    For More Information Visit  <a href="https://www.mygov.in/covid-19" target="_blank">mygov.in</a>
    </p>
    <p class = "copyright" > © COVID-19 Tracker. All Rights Reserved. </p>
  </div>
</footer>
</div>

</body>

</div>
</html>
