</body>
<footer>
  <div class = "footercase">

    <p class="disclaimer">*The Data Shown On The Site IS UNOFFICIAL AND May Not Match With Goverment Data Sometimes
    For More Information Visit At <a href="https://www.mygov.in/covid-19" target="_blank">mygov.in</a>
    </p>
    <p class = "copyright" > © COVID-19 Tracker. All Rights Reserved. </p>
  </div>
</footer>
</div>

</body>

</div>
</html>
