*{
  padding: 0px;
  margin:0px;
}


.wrapper{
  margin-top: 155px;
  width: 100%;
  text-align: center;

}

.wrapper_text{
  padding-top:20px;
}

p{
font-size: 1rem;
}

.customclass1{
  padding-top: 3px;
    padding-bottom: 4px;
    margin-right: 76px;
    margin-left: 23px;
    width: 80%;
}
.btn{
  margin-top: 13px;
}
.customclass2{
  padding-top: 3px;
      padding-bottom: 4px;
      margin-right: 76px;
      margin-left: 23px;
      width: 80%;
      margin-top: 12px;
    }

.card{
  width: 80%;
    margin-left: 80px;
    margin-right: 4px;
    margin-top: 42px;
    border-color: black;
}


.secondheading{
  padding-bottom: 2px;
    margin-top: 34px;
}

footer{
  padding-top: 12px;
text-align: center;
width: 80%;
margin-left: 86px;
font-size: 0.5rem;
}
.disclaimer{
  font-size: 0.7rem;
}

@media screen and (min-width:768px) {
  .wrapper{
    margin-top: 155px;
    width: 100%;
    text-align: center;
  }
}


@media screen and (min-width: 1025px) {

.customclass1{
  padding-top: 3px;
padding-bottom: 4px;
margin-right: 76px;
margin-left: -147px;
width: 22%;
}

.customclass2{
  padding-top: 3px;
    padding-bottom: 4px;
    margin-right: 76px;
    margin-left: 23px;
    width: 22%;
    margin-top: 12px;
}
.btn{
  margin-top: 0px;
}
  .wrapper{
    margin-top: 155px;
    width: 100%;
    text-align: center;
  }

.card{
  width: 18%;
    margin-left: 80px;
    margin-right: 2px;
    margin-top: 42px;
    float: left;
  }

  .secondheading{
    padding-bottom: 1px;
    /* margin-top: 163px; */
    padding-top: 296px
  }

  footer{
    padding-top: 86px;
    text-align: center;
    width: 51%;
    margin-left: 321px;
    /* font-size: 0.5rem; */
    float: left
  }
  .disclaimer{
    font-size: 0.7rem;
  }
}
